.clock-section {
  position: relative;
  width: 200px;
  max-width: 90vw;
  height: 200px;
  max-height: 90vh;
  padding: 10px;
  border: 5px solid var(--secondary);
  border-radius: 50%;
  margin: 5vh auto;
  animation: clock-section--appear 1.5s ease-in-out;
}

@keyframes clock-section--appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.clock-spanContainer {
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.clock-spanContainer span:nth-child(1) {
  width: 50%;
  height: 2px;
  background: var(--tertiary);
}

.clock-spanContainer span:nth-child(2) {
  left: 5%;
  width: 45%;
  height: 4px;
}

.clock-spanContainer span:nth-child(3) {
  left: 15%;
  width: 35%;
  height: 5px;
}

.clock-span {
  position: absolute;
  top: 50%;
  background: var(--secondary);
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.5, 0.55, 1);
}

.clock-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--secondary);
}
