.cardsGame-container {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100vw;
  min-height: 100vh;
  background: url(../../assets/CardsGame/backgroundImg.jpg) center;
  background-size: cover;
}

.cardsGame-section {
  text-align: center;
  animation: cardsGame-section--appear 1s ease-in-out;
}

@keyframes cardsGame-section--appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
