.header-link {
  margin: 5px;
  color: var(--secondary);
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  animation: header-link--appear 1s ease-in-out;
}

@keyframes header-link--appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-link:hover {
  color: var(--tertiary);
  transition: 0.5s;
}

/* Header */
/* .header-menu__wrapper {
  align-items: center;
  background: #000;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  display: flex;
  grid-area: 1.5rem;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.header-menu__bar {
  align-items: center;
  display: flex;
}

.header-logo {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.header-navigation {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin-left: 1rem;
}

.header-navigation > li {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 2.25rem;
  position: relative;
}

.header-navigation > li > a {
  color: #333;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.header-navigation > li > a:hover {
  color: #fff;
} */
