.footer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.footer-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2px;
  width: fit-content;
  margin: auto auto 5px;
  color: var(--secondary);
  text-decoration: none;
  animation: footer-link--appear 1s ease-in-out;
}

@keyframes footer-link--appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer-link:hover {
  color: var(--tertiary);
  transition: 0.5s;
}
