.rpsGame-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.rpsGame-section {
  text-align: center;
  animation: rpsGame-section--appear 1s ease-in-out;
}

@keyframes rpsGame-section--appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rpsGame-playersInfoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5px 20px;
}

@media (min-width: 1200px) {
  .rpsGame-playersInfoContainer {
    margin: 10px 10rem;
  }
}

.rpsGame-playersInfoContainerItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.rpsGame-portrait {
  width: 128px;
  max-width: 20vw;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  margin: 15px;
}

.rpsGame-heartsContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  font-size: 1.25rem;
}

.rpsGame-heading {
  margin: 10px;
  font-size: 2rem;
  font-style: italic;
}

.rpsGame-winImg {
  animation: rpsGame-winImg--appear 0.5s ease-in-out;
}

@keyframes rpsGame-winImg--appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rpsGame-winImg,
.rpsGame-img,
.rpsGame-imgAnimation {
  max-width: 80vw;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  margin: 15px;
}

@media (max-width: 600px) {
  .rpsGame-winImg,
  .rpsGame-img,
  .rpsGame-imgAnimation {
    max-width: 120px;
    margin: 5px;
  }
}

.rpsGame-imgAnimation {
  animation: rpsGame-imgAnimation--appear 0.5s ease-in-out;
}

@keyframes rpsGame-imgAnimation--appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rpsGame-subHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 10px;
}

@media (max-width: 600px) {
  .rpsGame-subHeading {
    font-size: 1.25rem;
  }
}

.rpsGame-buttons {
  margin: 5px auto;
}

.rpsGame-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  margin: 10px;
  background: var(--tertiary);
  color: var(--secondary);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.75s;
}

.rpsGame-btn:hover {
  transform: scale(0.95);
  background: var(--secondary);
  color: var(--tertiary);
  transition: 0.75s;
}

.rpsGame-btn:active {
  transform: scale(0.8);
}

.rpsGame-btn:disabled {
  opacity: 0.5;
}
