@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --primary: #0d1b2a;
  --secondary: #e0e1dd;
  --tertiary: #415a77;

  --error: #e63946;
  --success: #57cc99;

  --primary-hsl: 211, 53%, 11%;
  --secondary-hsl: 75, 6%, 87%;
  --tertiary-hsl: 212, 29%, 36%;

  /* Font */
  --font: "Play", sans-serif;
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font);
}
